body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex; /* Utilisation de flexbox pour le layout */
}

.sidebar {
    width: 200px; /* Largeur du menu latéral */
    background-color: #343a40; /* Couleur de fond du menu */
    color: white;
    padding: 20px;
    height: 100vh; /* Hauteur de la sidebar */
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.sidebar ul li a:hover {
    background-color: #495057; /* Couleur au survol */
}

.main-content {
    flex: 1; /* Prend le reste de l'espace disponible */
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #28a745;
    color: white;
}

td {
    color: red; /* Couleur rouge pour les noms des attributs */
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.accept {
    background-color: #28a745; /* Vert pour accepter */
    color: white