/* From Uiverse.io by mi-series */ 
/* Body */
/* From Uiverse.io by Sr-Ajo */ 
.form {
  display: flex;
  height: 50%;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: rgba(255, 111, 0, 0.61);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.form-container {
  display: none;
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(2, 2, 2, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.form-container3 {
  display: none;
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(2, 2, 2, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.form-container4 {
  display: none;
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(2, 2, 2, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.form-container5 {
  display: none;
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(2, 2, 2, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.form-container1 {
  display: none;
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(2, 2, 2, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.form-container2 {
  display: none;
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(2, 2, 2, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.message {
  color: rgba(0, 0, 0, 0.61);
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.61);
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color:rgba(0, 0, 0, 0.61);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px rgba(0, 0, 0, 0.61);
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: rgba(0, 0, 0, 0.61);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: white;
  border: 2px solidrgba(255, 111, 0, 0.61);
  border-radius: 0px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  transform: translateX(30%);
}

.fancy .top-key {
  position: absolute;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  bottom: -2px;
  position: absolute;
  
}

.fancy .bottom-key-2 {
 
  bottom: -2px;
  position: absolute;
  
  
}

.payments .details {
  display: grid;
  grid-template-columns: 10fr 1fr;
  padding: 0px;
  gap: 5px;
}

.payments .details span:nth-child(odd) {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  margin: auto auto auto 0;
}

.payments .details span:nth-child(even) {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  margin: auto 0 auto auto;
}
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

